//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not './../images/image.jpg'

header
  h1 Hello world!
  img(src='./images/js-logo.svg' alt='js logo' width='200')
